<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- display a flash message here, if necessary -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="container">
        <h1 class="mt-5">Pokemon Team Creator</h1>
        <div class="mt-3">
            <!-- Add User Button -->
            <a href="/showAllPokemon" class="btn btn-primary">View All Pokemon</a>
            <!-- Delete User Button -->
            <a href="/showPokemonForm" class="btn btn-danger">View Pokemon by Type</a>
            <!-- Update User Button -->
            <a href="/pokemonTeamCreator" class="btn btn-secondary">Team Menu</a>
            <!-- Display All Users Button -->
        </div>
    </div>
    <img src="{{ url_for('static', filename='imgs/all_pokemon.jpg') }}" class="img-fluid mt-4" alt="Pokemon image">
</body>
</html>
